{% extends 'base.html' %}

{% block title %}Create Marketplace Item{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="content-container">
            <h2 class="mb-4">Create Marketplace Item</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create Item</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}